kibuilder/src/main/java/groupe/e/kibuilder/data/Element.dtd

<!ELEMENT ELEMENTS (COMPETENCES ,CARACTERISTIQUES )>
<!ELEMENT COMPETENCES (COMPETENCE+)>
<!ELEMENT CARACTERISTIQUES (CARACTERISTIQUE+)>
<!ELEMENT COMPETENCE (NOM, TAGS?)>
<!ELEMENT CARACTERISTIQUE (NOM, NOM-COURT, TAGS?)>
<!ELEMENT NOM (#PCDATA)>
<!ELEMENT NOM-COURT (#PCDATA)>

<!ELEMENT TAGS (TAG+)>

<!ELEMENT TAG (#PCDATA)>
