kibuilder/src/main/java/groupe/e/kibuilder/data/Fiche.dtd

<!ELEMENT FICHE (CARATERISTIQUES, COMPETENCES, VOCATIONS, PV)>
<!ELEMENT CARATERISTIQUES (CARATERISTIQUE+)>
<!ELEMENT COMPETENCES (COMPETENCE+)>
<!ELEMENT COMPETENCE (NOM, VALEUR)>
<!ELEMENT CARATERISTIQUE (NOM, VALEUR)>

<!ELEMENT VOCATIONS (VOCATION+)>
<!ELEMENT VOCATION (TYPE, NOM, NIVEAU)>

<!ELEMENT NOM (#PCDATA)>
<!ELEMENT VALEUR (#PCDATA)>
<!ELEMENT PV (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT NIVEAU (#PCDATA)>



